<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collect_stats</key>
	<false/>
	<key>created</key>
	<date>2017-04-27T02:31:36Z</date>
	<key>id</key>
	<string>C60D92EE-B9F4-47A9-9563-B369C2018FB3-69912-00011509E9190676</string>
</dict>
</plist>
